@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Tajawal', sans-serif;
    margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

header{ 
background-color: #f0f0f0;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;

}

.logo{
text-decoration: none;
color:rgb(57, 128, 131);
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
} 

.navigation a {
    text-decoration: none;
color: cornflowerblue;
font-size: 17px;
font-weight:500;
padding-left: 50px;

}

.navigation a:hover{
color: #601cfc;
}

section{
padding: 100px 200px ;
}

.main {
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
background: url(images/background.jpeg) no-repeat;
 background-size: cover;
 background-position: center;
background-attachment: fixed;
}

.main h2 {
color: #ffffff;
font-size: 1.7em;
font-weight: 500;
}

.main h2 span {
display: inline-block; 
margin-top: 10px;


color: rgb(172, 204, 235);
font-size: 3em;
font-weight: 600;
}

.main h3 {
color: aliceblue;
font-size: 2em;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;
}

.sup {
color:#ffffff ;
text-decoration: none;
font-size: 1.1em;
margin-bottom: 40px;
display: inline-block;
letter-spacing: 1px;
font-weight: 700;
background-color: #3a6cf4;
padding: 0.9375em 2.1572em;
border-radius: 15px;
transition: 0.7s ease;
}

.sup:hover{
background-color: #0a49f6;
transform: scale(1.1);
}

.icons a{
    color: #fff;
font-size: 1.4em;
padding-right: 43px;
transition: 0.7s ease;
 display: inline-block;
}

.icons a:hover{
transform: scale(1.1);
}

.title{
display: flex;
justify-content: center;
color: #3a6cf4;
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;
}

.content {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}

.card {
background-color: #fff;
width: 21.25em;
box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
border-radius: 10px;
padding: 25px;
margin: 15px;
transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);

}


.icon {
font-size: 8em;
color: #3a6cf4;
text-align: center;
}

.info{
    text-align: center;
}

.info h3 {
color: #3a6cf4;
font-size: 1.2em;
margin: 10px;
font-weight: 700;
}

.card2 {
 width: 23em;
 box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
 border-radius: 10px;
 margin: 20px;
 transition: 0.7s ease;
 background-color: rgb(241, 241, 241);
 border: 1px solid #fff;
 min-height: 14em;
overflow: hidden;
}

.card2:hover {
    transform:scale(1.1);
}

.supj-img img {
width: 100%;
height: 100%;
}
.card2:hover  .supj-img{
    opacity: 0.9;
    
}


.supj {
background-color: #000016;
}

.supj .content {
margin: 30px;
}

.supj-info {
   margin-bottom: 10px;
   margin-top: 10px;
   
}

.supj-info h3 {
 text-align: center;
font-size: 1.4em;
font-weight: 700;
}

.details {
color: #3a6cf4;
text-decoration: none;
padding: 10px;
font-weight: 600;
}

.details:hover {
color:#601cfc;
}

.card3 {
background-color: #fff;
box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
border-radius: 15px;
padding: 30px;
width: 22em;
margin: 30px;
transition: 0.7s ease;
}

.card3 h2 {
font-size: 1.3em;
font-weight: 800;
text-align: center;
}

.card3 p {
font-size: 1.4em;
font-weight: 700;
text-align: center;
margin-top: 30px;
}

.card3:hover {
transform: scale(1.1);
}

.phone .icon {
font-size: 7em;
}




.end {
background-color:#000016;
padding: 2em;
color:#fff ;
display: flex;
justify-content: space-between;
width: 100%;
}

.end .icons a{
text-align: center;
margin: 10px;


}
    
.al78o8 {
 font-size: 1.3em;
 font-weight: 500;
 margin: 10px;
 }
    
.al78o8 span {
 color: #4776f5;
   
 }

.end2 {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
 }

.al78o82 {
    font-size: 1.3em;
    font-weight: 500;
 }

.al78o82 span {

    color: #4776f5;

}




@media ( max-width:1023px ){
    header {padding: 50px 50px;
    }
     .navigation a {
font-size: 2em;

     }
     .logo {
        font-size: 3em;

    
     }
    
    
    
    
    }



.page {
background-color: #000016;

}

.page .logo {
font-size: 4em;
padding: 30px;
text-align: left;















